html {
    background-color: aliceblue;
}

body {
    margin: 1em auto;
}

article {
    max-width: 50vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 3em 4em;
    background-color: white;
    box-shadow: darkgrey 0 2px 18px 0;
}

.article-title {
    margin: 0;
    padding: 0.1em;
    text-align: center;
    text-transform: uppercase;
    background-color: skyblue;
    border: 5px solid black;
}

.article-title a {
    text-decoration: none;
    color: black;
}

.map {
    width: 100%;
    margin-top: 1em;
    border: 2px solid darkgrey;
}