.main-section-title {
    border-bottom: 1px solid black;
}

.inner-section {
    padding: 1em;
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

.inner-section-title {
    margin-bottom: 1em;
    padding: 0.6em;
    text-align: center;
    color: white;
    background-color: steelblue;
}

.inner-section p {
    text-indent: 0;
}

.inner-section ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
}

.inner-section li {
    min-height: 150px;
    display: flex;
    align-items: center;
    border: 5px solid lightsteelblue;
    overflow: hidden;
}

.inner-section img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.inner-section div.image-container {
    width: 70%;
    box-shadow: 0 0 80px 30px grey;
}

.inner-section div.description {
    width: 50%;
    margin: 0 3em;
    padding: 1em;
    align-self: center;
}
