.main-section, .main-box {
    margin: 1em 0;
}

.main-section-title {
    border-bottom: 1px solid black;
}

.main-box-title {
    margin-bottom: 0.2em;
}

.inner-section {
    padding: 1em;
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

.inner-section-title {
    margin-bottom: 1em;
    padding: 0.6em;
    text-align: center;
    color: white;
    background-color: steelblue;
}

.inner-section p {
    text-indent: 0;
}

.inner-section ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.inner-section li {
    min-height: 40%;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid lightsteelblue;
    overflow: hidden;
}

.inner-section img {
    width: 45%;
    height: auto;
    display: block;
    box-shadow: 0 0 80px 30px grey;
}

.inner-section div.description {
    flex-basis: 55%;
    flex-grow: 1;
    padding: 2em 4em;
    align-self: center;
}