table {
    border-collapse: collapse;
}

td {
    padding: 0.2em 0.7em;
    text-align: center;
}

td:first-child {
    text-align: left;
    font-weight: bold;
}

.header-table {
    float: right;
    margin: 1em;
}

@media screen and (min-width: 450px) {
    .header-table {
        float: none;
        margin: 1em auto;
    }
}

@media screen and (min-width: 700px) {
    .header-table {
        width: initial;
        float: right;
        margin: 0 0 1em 1em;
    }
}

.header-table caption {
    padding: 0.3em;
    font-size: 18px;
    font-weight: bold;
    background-color: paleturquoise;
    border: 2px solid darkturquoise;
}

.header-table td {
    border: 2px solid darkturquoise;
}

.header-table tr:nth-child(even) {
    background-color: lightcyan;
}

.header-table tr td:first-child {
    font-weight: bolder;
}

.header-table tr td:last-child {
    font-style: oblique;
}

.main-table {
    width: 100%;
    margin-bottom: 1em;
    border: 3px solid navajowhite;
}

.main-table td {
    border: 2px solid white;
}

.main-table thead tr td {
    padding: 0.8em;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    color: white;
    background-color: navajowhite;
    border: 1px solid white;
}

.main-table tr:nth-child(even) {
    background-color: papayawhip;
}
